 .main-div {
     display: flex;
     justify-content: center;
     flex-direction: row;
 }

 .banner-container {
     /* height: 400px; */
     width: 100%;
     /* background-color: blue; */
     justify-content: space-between;
     display: flex;
     /* flex-wrap: wrap; */
     align-items: center;

     flex-direction: row;
 }

 .banner-container img {
     display: flex;
     height: auto;
     justify-items: center;
     /* width: 20rem; */
     /* background-color: red; */
     max-width: 550px;
     margin-right: 20px;


 }



 .hero {
     /* background-image: url("hero.png"); */
     height: 70vh;
     width: 100%;
     background-size: cover;

     /* background-position: top 25% right 0; */
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
     /* padding: 1.25rem 5rem; */
     /* 20px 80px */
 }

 /* .hero img {
     position: absolute;
     height: 45vh;
     width: 100vmax;
     right: 10px;
 } */






 @media (max-width: 799px) {

     .hero {
         height: 50vh;
         width: 30vm;
         padding: 0px 80px;
         /* background-position: top 30% right 30%; */
     }
 }

 @media (min-width: 477px) and (max-width: 777px) {
     .hero {
         padding: 0px;
         /* background-position: 55%; */
         /* margin-bottom: 0px; */
         /* display: flex; */
         /* flex-wrap: wrap; */
         /* background-color: rgb(208, 208, 208); */
         /* flex-direction: column; */
     }

     .banner-container img {
         display: flex;
         height: auto;
         justify-items: center;
         /* width: 20rem; */
         /* background-color: red; */
         max-width: 300px;
         padding: 0;
         margin-right: 20px;


     }
 }



 @media (min-width: 0px) and (max-width: 477px) {
     .hero {
         padding: 0px;
         /* background-position: 55%; */
         margin-bottom: 0px;
         display: flex;
         /* flex-wrap: wrap; */
         /* background-color: rgb(208, 208, 208); */
         /* flex-direction: column; */
     }

     .banner-container {
         flex-direction: column;
         padding: 0px;
     }

     .banner-container img {
         display: flex;
         padding: 0px;
         height: auto;
         justify-items: center;
         /* width: 20rem; */
         /* background-color: red; */
         max-width: 350px;
         margin-right: 20px;


     }

     .hero h4 {
         margin-top: -3rem;
         font-size: 2rem;
         margin-left: 2rem;
     }

     .hero h2 {
         margin-left: 2rem;
         font-size: 2rem;
         margin-top: 1rem;
     }

     .hero h1 {
         color: #89CFF0;
         margin-left: 2rem;
         margin-top: 1rem;
         padding: 0px;
         /* margin-bottom: -2rem; */
     }

     .banner-container {
         /* flex-direction: column; */
         display: flex;

     }

     .hero img {
         height: 30%;
         padding: 0px;
         /* width: 100%; */
         display: flex;
         align-content: center;
         justify-content: center;
         margin-left: 27rem;

     }


     .heroimg {
         /* background-color: black; */
         padding: 0px;
         /* width: 100%; */
         align-items: center;
         align-self: center;

     }

     .heroimg img {
         margin-left: 1.8rem;
         align-self: center;
         /* background-color: red; */
     }
 }