* {
    margin: 0;
    padding: 0;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    /* background-color: grey; */
}

.New {
    font-size: 30px;
    font-weight: 200;
}

.arriveal {
    font-size: 30px;
    font-weight: 500;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-items: center;
    align-items: center;
    justify-content: center;

}

.box {
    /* display: flex; */
    height: 20rem;
    /* width: 16rem; */
    margin-top: 10px;
    /* margin: 30px; */
    border-radius: 0.5rem;
    list-style: none;
    justify-content: center;
    /* width: 100%; */
    justify-items: center;
    flex-direction: column;
    /* align-items: center; */
    /* justify-items: center; */
    /* color: red; */
    background-color: #89CFF0;
    margin: 10px;
}

.inner-box {
    background-color: white;
    width: 11rem;
    height: 13rem;
    border-radius: 0.5rem;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    margin-top: 0.4rem;
    margin-left: 0.5rem;

}

.inner-box img {
    height: 10rem;
    background-color: white;
    margin-top: 1rem;
    width: 100%;
}




.gg {
    height: 10rem;
    width: 12rem;
    flex-direction: column;
    display: flex;
    /* background-color: red; */
}

.newtitle {
    margin-top: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    display: flex;
}

.star {
    /* background-color: red; */
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    /* color: black; */
}

.price {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-top: 10px;
}

.original-price {
    text-decoration: line-through;
    color: gray;
    margin-right: 8px;
    /* Optional spacing between original and discounted prices */
}

.all-cont {
    height: 4rem;
    margin-top: 2rem;
    /* background-color: red; */
    align-items: center;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.all {
    height: 3rem;
    background-color: #32bef3;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: 700;
    justify-content: center;
    display: flex;
    width: 10rem;
    border-radius: 7px;
}

.glass {
    margin-top: 30px;
    height: 8rem;
    width: 70%;
}

.back {
    height: 18rem;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #89CFF0;
}

.back-text {
    color: grey;
    width: 25rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.back-title {
    font-size: x-large;
}

@media (max-width: 799px) {



    .product-container {
        justify-content: center;
    }

    .box {
        justify-content: center;
        display: flex;
        height: 20rem;
        width: 14rem;
        border-radius: 0.5rem;
        list-style: none;
        /* background-color: red; */
        margin: 10px;
    }
}


@media (min-width: 0) and (max-width: 477px) {

    .glass {
        margin-top: 30px;
        height: 3.5rem;
        width: 90%;

    }

    .btn {
        height: 2rem;
        margin-top: 13px;
        background-color: #89CFF0;
        width: 9.5rem;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-left: 1.2rem;
        padding-top: 7px;
        border-radius: 6px;
        justify-items: center;
    }

    .title {
        margin-top: 30px;
    }

    .New {
        font-size: 35px;

    }

    .arriveal {
        font-size: 35px
    }

    .product-container {
        display: flex;
        align-items: center;
        /* justify-items: center; */
        justify-content: center;
    }

    .box {
        display: flex;
        height: 22rem;
        width: 12rem;
        border-radius: 0.5rem;
        list-style: none;
        min-width: 7rem;
        max-width: 13rem;
        /* align-items: center; */
        justify-items: center;
        justify-content: center;
        /* color: red; */
        background-color: #f2fdff;
        /* margin: 10px; */
        box-shadow: 0rem 0.65rem 0.65rem rgba(0, 0, 0, 0.15);
    }

    .inner-box {
        background-color: white;
        width: 11rem;
        height: 13rem;
        border-radius: 0.5rem;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
        margin-top: 0.4rem;


    }

    .inner-box img {
        height: 10rem;
        background-color: white;
        margin-top: 1rem;
        width: 100%;
    }
}